opencv-python
matplotlib
pyheif
pillow
tqdm
icrawler
pandas
PyPDF2
pdf2image

torch --extra-index-url https://download.pytorch.org/whl/cu113
torchvision --extra-index-url https://download.pytorch.org/whl/cu113
torchaudio --extra-index-url https://download.pytorch.org/whl/cu113